#annotate-bar {
  position: fixed;
  width: 80%;
  top: 1px;
}
#sweeted {
  z-index: 1000 !important;
  display: none;
  font-size: 16px;
  width: 100%;
}
.alert {
  margin: auto;
  width: 700px;
  box-shadow: 3px 3px 3px #468847;
}
