v\:* {behavior:url(#default#VML);}
#map {border: 1px solid #888;}

.modal {
  width: 1024px;
  left: 33%;
}
#stats {
  position: relative;
  float: left;
  width: 150px;
  height: 400px;
  padding: 5px;
  border: 1px solid #999;
  overflow: auto;
}
#infovis {
  position: relative;
  top: 0px;
  left: 30px;
  width: 800px;
  height: 400px;
  overflow: hidden;
  background-color: #707d48;
}
