<!DOCTYPE html>
<html>
<head>
    <title>Lepakshi Mural - JSON editor</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css"></link>
    <meta charset="utf-8" />
    <style>
      textarea {
        width: 500px;
      }
    </style>
</head>
<body>
  <p></p><br>
  <div class="container">
    <h3> JSON Editor </h3>
    <div id="json-saved" class="alert alert-success" style="display: none; width: 300px; margin: auto;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <b>Success!</b> JSON saved. See <a href="/history">here</a>
    </div>
    <div id="json-error" class="alert alert-error" style="display: none; width: 300px; margin: auto;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <b>Invalid JSON!</b> Verify at <a href="http://jsonlint.com">jsonlint.com</a>
    </div>
    <textarea id="json" rows="30">
      {{ json }}
    </textarea>
    Enter JSON filename
    <input type="text" id="filename" placeholder="newname.json">
    <button class="btn" onclick="save();"> Save </button>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="static/bootstrap.js"></script>
  <script>
    function save() {
      var json = $('#json').val();
      var filename = $('#filename').val();
      if(!filename.match(/.json$/)) {
        filename += '.json';
      }
      try {
        json = JSON.parse(json);
        console.log(json);
        console.log(filename);
        $.post('/saveJSON', {"json": json, "filename": filename}, function(data) {
          console.log(data);
          $('#json-saved').show();
        }, 'json');
      } catch(e) {
        $('#json-error').show();
      }
    }
  </script>
</body>
</html>
